.body_backgorund {
    background-image: url("https://www.bing.com/th/id/OGC.2f2a1dcbe2e5bca676f4fca5289067c2?pid=1.7&rurl=https%3a%2f%2fmedia.giphy.com%2fmedia%2f3ZpIaANpwl0Y%2fgiphy.gif&ehk=GTpLpzlyqqujlvNH0QzNZ2ziSRa5FMc3lbG9KEFmhf0%3d");
    background-position: center;
    background-size: cover;
}

body {
    cursor: pointer;
}

h1 {
    color: red;
    font-size: 40px;
}

#Caaanvas {
    border-width: 10px;
    background-color: white;
    border-style: ridge;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 42px;
    font-size: 16px;
}

input {
    margin-right: 20px;
}